%a.avatar
  %img.ui.tiny.circular.image{src: image_path(comment.user_avatar) }
.content
  .CommentItem
    %a.author=comment.user_name
    .metadata
      .date.CommentDateDuration 45 min ago
    .mini.ui.icon.button.RatingButtonMinus
      %i.icon.minus
    %span.CommentRating=comment.rating 
    .mini.ui.icon.button.RatingButtonPlus
      %i.icon.plus
    .text
      =comment.content
    -if deeps<2
      .actions
        %a.reply.ReplyCommentButton Reply