.ui.column.page.grid.main#TestTaskView
  .ui.column
    .content
      .ui.attached.segment
        %h1.ui.header=@article.title
        .metadata
          .date 45 min ago
      .ui.attached.segment=@article.content
      .ui.attached.segment.CommentsBlock
        .ui.comments
          - @comments.each do |comment|
            .ui.comment.CommetItem
              %a.avatar
                %img.ui.tiny.circular.image{src: image_path(comment.user_avatar) }
              .content
                %a.author=comment.user_name
                .metadata
                  .date 45 min ago
                .mini.ui.icon.button.RatingButtonMinus
                  %i.icon.minus
                %span.CommentRating=comment.rating 
                .mini.ui.icon.button.RatingButtonPlus
                  %i.icon.plus
                .text
                  =comment.content
                .actions
                  %a.reply Reply
                / .ui.comments
                /   .ui.comment
                /     %a.avatar
                /       %img.ui.tiny.circular.image{src: image_path('noavatar.png') }
                /     .content
                /       %a.author User name
                /       .metadata
                /         .date 45 min ago
                /       .mini.ui.icon.button
                /         %i.icon.minus
                /       %span.CommentRating - 5 
                /       .mini.ui.icon.button
                /         %i.icon.plus
                /       .text
                /         the hours, minutes and seconds stand as visible reminders that your effort put them all there.
                /       .actions
                /         %a.reply Reply
      .ui.attached.segment
        %form.ui.form
          .inline.field
            %label Name
            %input{name: 'user_name', placeholder: 'Name'}
          .inline.field
            %label Email
            %input{name: 'user_email', placeholder: 'Email'}
          .inline.field
            %label Your comment
            %textarea
          .ui.submit.button Submit