.ui.column.page.grid.main#TestTaskView
  .ui.column
    .content.TestTaskPageContent
      .ui.attached.segment
        %h1.ui.header=@article.title
        .metadata
          .date.ArticleDateDuration 45 min ago
      .ui.attached.segment=@article.content
      %input.ArticleIdInput{type: 'hidden', value: @article.id}
      .ui.attached.segment.CommentsBlock
        .ui.comments.MainContentBlock
          - @comments.each do |comment|
            -if comment.parent.nil?
              .ui.comment.ParentCommentBlock
                = render 'comment_view', comment: comment, deeps: 0
                .ui.comments.ChildCommentBlock
                  - comment.children.each do |subcomment|
                    = render 'comment_view', comment: subcomment, deeps: 1
                    .ui.comments.ChildCommentBlock
                      - subcomment.children.each do |subsubcomment|
                        = render 'comment_view', comment: subsubcomment, deeps: 2