.ui.column.page.grid.main#TestTaskView
  .ui.column
    .content
      .ui.attached.segment
        %h1.ui.header=@article.title
        .metadata
          .date 45 min ago
      .ui.attached.segment=@article.content
      .ui.attached.segment.CommentsBlock
        .ui.comments
          - @comments.each do |comment|
            -if comment.parent.nil?
              .ui.comment
                %a.avatar
                  %img.ui.tiny.circular.image{src: image_path(comment.user_avatar) }
                .content
                  .CommentItem
                    %a.author=comment.user_name
                    .metadata
                      .date 45 min ago
                    .mini.ui.icon.button.RatingButtonMinus
                      %i.icon.minus
                    %span.CommentRating=comment.rating 
                    .mini.ui.icon.button.RatingButtonPlus
                      %i.icon.plus
                    .text
                      =comment.content
                    .actions
                      %a.reply.ReplyCommentButton Reply
                  - comment.children.each do |subcomment|
                    .ui.comments
                      .ui.comment
                        %a.avatar
                          %img.ui.tiny.circular.image{src: image_path(subcomment.user_avatar) }
                        .content
                          .CommentItem
                            %a.author=subcomment.user_name
                            .metadata
                              .date 45 min ago
                            .mini.ui.icon.button.RatingButtonMinus
                              %i.icon.minus
                            %span.CommentRating=subcomment.rating 
                            .mini.ui.icon.button.RatingButtonPlus
                              %i.icon.plus
                            .text
                              =subcomment.content
                            .actions
                              %a.reply.ReplyCommentButton Reply
      .ui.attached.segment
        %form.ui.form.AjaxForm.Validation{action: comment_path, method: 'POST'}
          .inline.field{'data-field' => 'user_name'}
            %label Name
            %input{name: 'comment[user_name]', placeholder: 'Name'}
          .inline.field{'data-field' => 'user_email'}
            %label Email
            %input{name: 'comment[user_email]', placeholder: 'Email'}
          .inline.field{'data-field' => 'content'}
            %label Your comment
            %textarea{name: 'comment[content]'}
          %button.ui.submit.button{type: 'submit'} Submit